
body 
{
	font-family: Avenir; 
	color: white; 
	background-color: rgb(128, 0, 0);
}
#title
{
	text-align:center; 
}

#article-img
{
	padding-top: 30%;
	height: 100px;
	margin-left: 5%; 
	margin-right: 5%; 
	background-color: rgb(128, 0, 0);
	background: url("school.jpg");
	background-size: 100% 100%;
}

#article-content
{
	height:15%;
	margin-left:5%; 
	margin-right:5%;
	border: dotted 1px blue;
	background-color: rgb(174, 185, 212);
}

#article-details
{
	text-align: center;
	height: 50px;
	font-size: 10px;
	font-family: Avenir;
	color: white;
	background-color: rgba(149, 192, 201, .8);
}
h2 
{
	display:inline;
	font-size: 20px;
	font-family: Avenir;
}
