<body ng-controller="OpinionCtrl">
		<div id="main-opinion"> 
			<div id="title"> 
				Opinion
			</div> 
			<div id="img-background">
			<img src="../public/images/school.jpg" width="45%" height="45%" align="center" alt="Parents">
			<div id="title-stuff"> 
			<p class="alignleft">Jeffery Pereira</p>
			<p class="alignright">Fri, August 25th, 2016</p><br><br>
			<p class="title">Parents are coming back</p>
			</div>
		</div>
		<div id="story-content"> 
			<h3>Blog Pieces</h3>
			<div ng-repeat="x in titles" id="quad"> 
				{{x}}
				<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus felis massa, consectetur sed mauris eu, cursus imperdiet nunc. Vivamus a lacinia est. Cras posuere, ipsum et euismod ultrices, turpis felis condimentum mauris, at pulvinar urna eros id augue.</div>
			</div>
	</div>
</body>
