<head>
  <link href="../public/stylesheets/ae.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i" rel="stylesheet"/>
</head>
<div id="stories" ng-controller='SportsCtrl'>
  <div class="story" ng-repeat='story in stories'>
    <h2 class="title">{{story.title.rendered}}</h2>
    <p class="byline"><a ng-href={{story.link}}>Matthew Manfredi</a></p>
    <p class="date">{{story.date}}</p>
    <p class="desc">{{story.excerpt.rendered}}</p>
  </div>
</div>
<h1>TITS</h1>
<div id="footer"><br/>
  <p>&copy; 2016 The Orion</p>
  <p><a href="#">Privacy Policy</a></p><br/>
</div>
